name: Tests

on:
  pull_request:
    types: [opened, synchronize]

  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
        env:
          cache: 'npm'
      - name: (clean) Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
